APP_ENV=production
APP_URL=https://seu-dominio.com

DB_CONNECTION=mysql
DB_HOST=seu-host-mysql
DB_PORT=3306
DB_DATABASE=seu_banco
DB_USERNAME=seu_usuario
DB_PASSWORD=sua_senha
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
